.callback {
  max-width: 1188px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-top: 93px;
  padding-bottom: 127px;

  background-image: url('../img/border-small-top.png'), url('../img/border-small-bottom.png');
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: contain;
}

.callback__container {
  display: flex;

  margin-bottom: 30px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.callback__logo {
  display: block;

  margin-bottom: 34px;

  img {
    margin: 0 auto;
  }
}

.callback__heading {
  width: 100%;
  margin-bottom: 8px;

  text-align: start;
}

.callback__small {
  width: 55%;

  font-size: 20px;
  line-height: 130%;
}

.callback__big {
  text-align: center;

  font-size: 25px;
}

.callback__number {
  font-size: 78px;
  line-height: 0.8em;
}

@media(min-width: 478px) {
  .callback {
    padding-top: 170px;

    background-image: url('../img/phone-big.png');
    background-size: cover;

    .container {
      width: 90%;
      max-width: 618px;
      margin: 0 auto;
      padding: 0 50px;
    }
  }

  .callback__container {
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .callback__logo {
    padding: 0 30px;
  }

  .callback__small {
    width: auto;
    margin-bottom: 15px;

    font-size: 18px;
  }

  .callback__big {
    margin-left: auto;
  }

  .callback__logo img {
    width: 100%;
    max-width: 480px;
    max-height: 82px;
  }

  .callback__number {
    display: inline-block;
  }
}
