$white: #ffffff;
$black: #000000;
$grey: #2b2b2b;
$red: #cb2336;
$brown: #000000;
$brown-hover: #000000;
$brown-active: #000000;
$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$roboto: 'Roboto', 'Arial', sans-serif;
$casper: 'Casper', 'Arial', sans-serif;
